html, body{
 	font-family: "微软雅黑", sans-serif;
	font-size: 100%;
	background: #f7f7f7;
	margin: 0px;
	padding: 0px;
	color: black;
}
h1,h2,h3,h4,h5,h6 ,span{
	margin:0;
	padding: 0;
}	
p{
	margin:0;
	padding: 0;
}
ul,li{
	margin:0;
	padding:0;
	list-style: none;
}
label,img{
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
	margin:0;
	padding:0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1} 
.clear{
	clear: both;
}
/* 重置slect样式 */
select{
	  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*  在选择框的最右侧中间显示小箭头图片 */
  background: url("../images/arrow.png") no-repeat scroll right center transparent;

 /*  为下拉小箭头留出一点位置，避免被文字覆盖 */
  padding-right: 14px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }